In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
data.shape

(13320, 9)

In [7]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
data.drop(columns=['area_type', 'availability', 'society', 'balcony'], inplace=True)

In [9]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [11]:
data.shape

(13320, 5)

In [12]:
data['location'].value_counts()

location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64

In [13]:
data['location'] = data['location'].fillna('Sarjapur  Road')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [15]:
# data['size'].value_counts()
data['size'] = data['size'].fillna('2 BHK')

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [17]:
# data['bath'].value_counts()
data['bath'] = data['bath'].fillna(data['bath'].median())

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [19]:
data.describe()

               bath         price
count  13320.000000  13320.000000
mean       2.688814    112.565627
std        1.338754    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [20]:
data.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [21]:
data['bhk'] = data['size'].apply(lambda x: int(x.split(" ")[0]))

In [22]:
data.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [23]:
data[data['bhk']>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [24]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [25]:
def convert_range(x):

    temp = x.split("-")
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    else:
        try:
            return float(x)
        except:
            return None

In [26]:
data['total_sqft'] = data['total_sqft'].apply(convert_range)

In [27]:
data['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [28]:
data.head()
data.shape

(13320, 6)

In [29]:
data['price_per_sqft'] = data['price']*100000 / data['total_sqft']

In [30]:
data['price_per_sqft'].value_counts()

price_per_sqft
5000.000000     147
4000.000000     137
10000.000000     77
6666.666667      73
3500.000000      65
               ...
5020.000000       1
3724.247227       1
6689.834926       1
5258.545136       1
10407.336319      1
Name: count, Length: 7602, dtype: int64

In [31]:
data['price_per_sqft'].isna().value_counts()

price_per_sqft
False    13274
True        46
Name: count, dtype: int64

In [32]:
data.describe()
data.shape

(13320, 7)

In [33]:
location_value_counts = data['location'].value_counts()

In [34]:
location_value_counts_less_than10 = location_value_counts[location_value_counts <= 10]

len(location_value_counts_less_than10)

1064

In [35]:
data['location'] = data['location'].apply(lambda x: x.strip())

In [36]:
data['location'] = data['location'].apply(lambda x: 'other' if x in location_value_counts_less_than10 else x)

In [37]:
data['location'].value_counts()

location
other                       2840
Whitefield                   541
Sarjapur  Road               400
Electronic City              304
Kanakpura Road               273
                            ...
Panathur Road,                 1
Electronic city phase 1,       1
Banasawadi,                    1
Kanakapura Road,               1
Electronic City Phase 1,       1
Name: count, Length: 271, dtype: int64

In [38]:
# Removing Outliers

data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [39]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [40]:
data = data[((data['total_sqft']/data['bhk'])>=300)]

In [41]:
data.shape

(12530, 7)

In [42]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [43]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        mean = np.mean(subdf['price_per_sqft'])
        std = np.std(subdf['price_per_sqft'])
        gen_df = subdf[(subdf['price_per_sqft'] > (mean-std) ) & (subdf['price_per_sqft'] < (mean+std))]
        df_output = pd.concat([df_output,gen_df], ignore_index=True)     
        
    return df_output

In [44]:
data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10264.000000  10264.000000  10264.000000  10264.000000    10264.000000
mean    1507.169788      2.470869     91.218143      2.574337     5660.193900
std      880.174287      0.979538     86.324896      0.897629     2269.106663
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1109.750000      2.000000     49.000000      2.000000     4242.302053
50%     1285.000000      2.000000     67.000000      2.000000     5176.359705
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [45]:
def remove_bhk_outlier(x):
    exclude_indices = np.array([])

    for loction, location_wise_df in x.groupby('location'):
        bhk_stats_json = {}
        for bhk, bhk_wise_df in location_wise_df.groupby('bhk'):
            bhk_stats_json[bhk] = {
            'mean': np.mean(bhk_wise_df['price_per_sqft']),
            'std' : np.std(bhk_wise_df['price_per_sqft']),
            'count': bhk_wise_df.shape[0]
            }
        for bhk, bhk_df in location_wise_df.groupby('bhk'):
            stats = bhk_stats_json.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df['price_per_sqft']<(stats['mean'])].index.values)
    
    return x.drop(exclude_indices, axis='index')

In [46]:
# data.bhk.value_counts()

In [47]:
data = remove_bhk_outlier(data)

In [48]:
# data.bhk.value_counts()

In [49]:
data.shape

(7338, 7)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7338 entries, 0 to 10263
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        7338 non-null   object
 1   size            7338 non-null   object
 2   total_sqft      7338 non-null   float64
 3   bath            7338 non-null   float64
 4   price           7338 non-null   float64
 5   bhk             7338 non-null   int64
 6   price_per_sqft  7338 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 458.6+ KB

In [51]:
data.isna().sum()

location          0
size              0
total_sqft        0
bath              0
price             0
bhk               0
price_per_sqft    0
dtype: int64

In [52]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668
...,...,...,...,...,...,...,...
10255,other,2 BHK,1200.0,2.0,70.0,2,5833.333333
10256,other,1 BHK,1800.0,1.0,200.0,1,11111.111111
10259,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
10260,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
10263,other,4 BHK,3600.0,5.0,400.0,4,11111.111111

In [53]:
data.drop(columns=['size', 'price_per_sqft'], inplace=True)

In [54]:
# Cleaned Data

In [55]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [56]:
data.to_csv("Cleaned_data.csv")

In [57]:
X = data.drop(columns=['price'])

In [58]:
y = data['price']

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [61]:
print(X_test.shape)
X_train.shape

(1468, 4)

(5870, 4)

In [62]:
# Apply Linera Regresssion

In [63]:
# column_trans = make_column_transformer((OneHotEncoder(categories='auto',sparse_output=False, handle_unknown='ignore'), ['location']),remainder='passthrough')

In [64]:
# scaler = StandardScaler()

In [65]:
lr = LinearRegression()

In [66]:
pipe = make_pipeline(column_trans, scaler, lr)

ValueError: could not convert string to float: 'other'

In [ ]:
# pipe.fit(X_train, y_train)

In [ ]:
# y_pred_lr = pipe.predict(X_test)

In [ ]:
# r2_score(y_test, y_pred_lr)